@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #000;
  --secondary: rgb(24, 24 ,27);
  --border : rgba(63,63,70 ,0.5);
  --title: rgb(244, 244 ,245);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39, 39, 42);
  --blue:rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
  --container-padding: 2rem
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
html {
  font-family: "Roboto";
  box-sizing: border-box;
  letter-spacing: 0.1px;
  scrollbar-color:#6b7785 var(--bgHeader) ;
  scroll-behavior: smooth;
}
body {
  background-color: var(--primary);
  color: #fff;
}
.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding:0 var(--container-padding);
  background-color: var(--secondary);
  
}
::-webkit-scrollbar {
  width: 0.7rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #93a4b3;
}
.line{
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);

}
a{
    text-decoration: none;
    color: initial;
    transition: 0.4s;
}
li{
    list-style-type: none;
}
.flex{
    display: flex;
    align-items: center;
}
.border{
    border: 2px solid var(--border)
}
button{
    all: unset;
}
button:hover{
    cursor: pointer;
}
button:active{
    scale: 0.5;
}

.icon-circle-up{
  position: fixed;
  right: 5%;
  bottom: 2rem;
  background-color:rgb(40, 149, 221);
  padding: 0.7rem;
  border-radius: 50%;
  border: 1px solid var(--border);
  color: var(--title);
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;

}
.icon-circle-up:hover{
  background-color: var(--blue);
 
}
@media (max-width:1000px) {
  .container{
    --container-padding: 2rem;
   width: 90%;
    padding: 0 var(--container-padding);
  }
  .line{
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
  }
  
}
@media (max-width:600px) {
  .container{
  --container-padding: 2rem;
   width: 100%;
    padding: 0 var(--container-padding);
  }
  
}